### 리스트(List) 자료형
- 숫자나 문자의 모음을 하나의 자료형으로 표현하기 위해 사용
- 표현 방법 : 리스트명 = [요소1, 요소2, ...]

In [7]:
var01 = []
var02 = [1,2,3]
var03 = ['I','have','a','dream']
var04 = [1,2,'Dream',True]
var05 = [1,2,['Dream', True]]
print(var01)
print(var02)
print(var03)
print(var04)
print(var05)

[]
[1, 2, 3]
['I', 'have', 'a', 'dream']
[1, 2, 'Dream', True]
[1, 2, ['Dream', True]]

In [8]:
print(var05[2][0])

Dream

In [9]:
# 리스트의 계산
var02[0] + var02[1]

3

In [21]:
var = [1,2, ['a', 'b', ['Dream', True]]]
print(var[2][2][0])

Dream

In [20]:
# [1,2]
print(var[0:2])

[1, 2]

In [23]:
# [['a','b',['Dream', True]]]
# 인덱싱과 슬라이싱은 출력이 다르다?
#print(var[-1]) >> ['a', 'b', ['Dream', True]]
print(var[2:3])

[['a', 'b', ['Dream', True]]]

In [18]:
# b
print(var[-1][1])

b

## 리스트의 연산자

In [26]:
# 리스트의 숫자 합치기
var01 = [1,2,3]
var02 = [4,5,6]
var01 + var02

[1, 2, 3, 4, 5, 6]

In [29]:
for i in range(0, len(var01)):
    print(var01[i] + var02[i])

5
7
9

In [31]:
# 리스트의 반복 숫자

# 값을 건드릴떄는 [](index?)로만 접근 가능
print(var01)
print(var01 * 3)

[1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [36]:
# 리스트의 곱셈
# 1,2,3 -> 10,20,30
q1 = [1,2,3]
for i in range(len(q1)):
    print(q1[i]*10)

10
20
30

In [38]:
var01 = ['a', 'b', 'c']
var02 = ['e', 'f', 'g']
var01+var02
var01 *3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [40]:
# '3hi'
var = [1,2,3]
str(var[2]) + "hi" # 숫자와 문자 합치기 불가

'3hi'

In [42]:
#리스트 요소 존재 여부 확인
list01 = [1,2,3,4,5]

print(3 in list01)
print(7 in list01)

True
False

### 리스트의 수정과 삭제

In [44]:
var = [1,2,3]
var[2] = 4
var

[1, 2, 4]

In [45]:
var[1] = ['a','b','c']
var

[1, ['a', 'b', 'c'], 4]

In [46]:
var[1:2] = ['a','b','c'] # 범위와 요소는 다르다. 범위 : 데이터, 요소 : 인덱스
var

[1, 'a', 'b', 'c', 4]

In [47]:
var[1:3] = []
var

[1, 'c', 4]

In [48]:
del var[1]
var

[1, 4]

In [55]:
# [100,200,300,400,500,600,700]
varEx = list(range(100, 701, 100))
print(varEx)

[100, 200, 300, 400, 500, 600, 700]

In [59]:
# 200 삭제하기
del varEx[1]
print(varEx)

[100, 300, 400, 500, 600, 700]

In [60]:
# 300,400,500 삭제하기
del varEx[1:4]
print(varEx)

[100, 600, 700]

In [65]:
del varEx[6]
print(varEx)

[100, 200, 300, 400, 500, 600, 700]

In [63]:
# 원래 상태로 복원하기
del varEx[6:9]
varEx[1:2] = [200,300,400,500,600]
print(varEx)

[100, 200, 300, 400, 500, 600, 300, 400, 500, 600, 700]

In [66]:
# 리스트에 요소 추가 : 정수
var = [1,2,3]
var.append(4)
var

[1, 2, 3, 4]

In [67]:
# 리스트에 요소 추가 : 리스트
var.append([5,6])
var

[1, 2, 3, 4, [5, 6]]

In [70]:
# 리스트 정수 정렬
var = [1,4,3,2]
print(var)

# 오름차순 정렬
var.sort()
print(var)

# 내림 차순 정렬
var.reverse()
print(var)

[1, 4, 3, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [71]:
# 리스트 문자 정렬
var = ['a','c','b']
print(var)

# 오름차순 정렬
var.sort()
print(var)

# 내림 차순 정렬
var.reverse()
print(var)

['a', 'c', 'b']
['a', 'b', 'c']
['c', 'b', 'a']

In [72]:
# 리스트 한글 정렬
var = ['대','한','민', '국']
print(var)

# 오름차순 정렬
var.sort()
print(var)

# 내림 차순 정렬
var.reverse()
print(var)

['대', '한', '민', '국']
['국', '대', '민', '한']
['한', '민', '대', '국']

In [73]:
# 리스트의 위치 정보
var = [4,5,6]
var.index(5)

1

In [74]:
# 리스트에 요소 삽입
var = [1,2,3]
var.insert(0, 4) #(인덱스, 넣을 값)
print(var)

[4, 1, 2, 3]

In [75]:
# 리스트에 요소 제거
var = [1,2,3]
var.remove(2) # ('값이 2인 요소를 제거')
var

[1, 3]

In [76]:
# 리스트 요소 끄집어 내기
var = [1,2,3]
print(var.pop()) # pop() 맨 끝 없앰
print(var)

3
[1, 2]

In [77]:
var = [1,2,3]
for i in range(0,3):
    print(var.pop())
    print(var)

3
[1, 2]
2
[1]
1
[]

In [78]:
# 원하는 위치를 pop 하기
var = [1,2,3]
print(var.pop(1)) # 1번 인덱스 값 제거
print(var)

2
[1, 3]

In [80]:
# 리스트의 요소 개수 세기
var = [1,2,3,4,4]
print(var.count(4))
print(len(var))

2
5

In [81]:
# 리스트의 확장
var = [1,2,3]
var.extend([4,5,6])
var

[1, 2, 3, 4, 5, 6]

In [82]:
evenVar = list(range(2,11,2))
oddVar = list(range(1,10,2))
evenVar.extend(oddVar)
sum(evenVar)

55

In [84]:
# Hello World! My name is Alice and I'm 30 years old. <- 출력
list01 = [1, 3.14, 'Hello World!', True, [170,50,30], ['Alice', 'Cathy']]

print(f"{list01[2]} My name is {list01[5][0]} and I'm {list01[4][2]} years old.")

Hello World! My name is Alice and I'm 30 years old.

### 리스트의 복사

In [85]:
var01 = 1
var02 = 1
print(var01, var02)

1 1

In [86]:
var01 = var02 = 1
print(var01, var02)

var01 = 3
print(var01, var02)

1 1
3 1

1. Call by Reference

In [87]:
var01 = [1,2,3,4]
var02 = var01

In [88]:
var02[0] = 10
var01

[10, 2, 3, 4]

2. Call by Value

In [92]:
var01 = [1,2,3,4]
var02 = var01.copy()

In [93]:
var02[0] = 10
print(var01)
print(var02)

[1, 2, 3, 4]
[10, 2, 3, 4]