### 파일 읽고 쓰기:
파일 객체 = open(파일이름, 파일열기 모드)
- 파일 열기모드 : r,w,a

In [3]:
# 파일을 쓰기모드로 열어 출력값 저장하기
f = open("../Data/new.txt", "w")
for i in range(1,11):
    data = f"{i}번쨰 줄 입니다.\n"
    f.write(data)

f.close()

In [4]:
f = open("../Data/new.txt", "r")

while True:
    line = f.readline()
    if not line:
        break
    print(line)

f.close()

1번쨰 줄 입니다.

2번쨰 줄 입니다.

3번쨰 줄 입니다.

4번쨰 줄 입니다.

5번쨰 줄 입니다.

6번쨰 줄 입니다.

7번쨰 줄 입니다.

8번쨰 줄 입니다.

9번쨰 줄 입니다.

10번쨰 줄 입니다.

In [5]:
f = open("../Data/new.txt", "r")

lines = f.readlines()
f.close()

for line in lines:
    print(line)

1번쨰 줄 입니다.

2번쨰 줄 입니다.

3번쨰 줄 입니다.

4번쨰 줄 입니다.

5번쨰 줄 입니다.

6번쨰 줄 입니다.

7번쨰 줄 입니다.

8번쨰 줄 입니다.

9번쨰 줄 입니다.

10번쨰 줄 입니다.

In [6]:
f = open("../Data/new.txt", "r")

data = f.read()
f.close()
print(data)

1번쨰 줄 입니다.
2번쨰 줄 입니다.
3번쨰 줄 입니다.
4번쨰 줄 입니다.
5번쨰 줄 입니다.
6번쨰 줄 입니다.
7번쨰 줄 입니다.
8번쨰 줄 입니다.
9번쨰 줄 입니다.
10번쨰 줄 입니다.

In [ ]:
# 파일에 새로운 내용 추가하기
f = open("../Data/new.txt", "a")

---
### with문
: 파일의 열고 닫음을 자동으로 처리하기 위해 사용되면 with문을 벗어나면 자동으로 close()

In [12]:
with open("../Data/new2.txt", "w") as f:
    for i in range(1,11):
        data = f"{i}번쨰 줄입니다. \n"
        f.write(data)

In [13]:
# 파일 읽기
with open("../Data/new2.txt", "r") as f:
    data = f.read()
    print(data)

1번쨰 줄입니다.
2번쨰 줄입니다.
3번쨰 줄입니다.
4번쨰 줄입니다.
5번쨰 줄입니다.
6번쨰 줄입니다.
7번쨰 줄입니다.
8번쨰 줄입니다.
9번쨰 줄입니다.
10번쨰 줄입니다.

### Pandas로 불러오기

In [14]:
import pandas as pd

In [16]:
# txt file 불러오기
txtSample = pd.read_table("../Data/new.txt", header= None)
txtSample

             0
0   1번쨰 줄입니다.
1   2번쨰 줄입니다.
2   3번쨰 줄입니다.
3   4번쨰 줄입니다.
4   5번쨰 줄입니다.
5   6번쨰 줄입니다.
6   7번쨰 줄입니다.
7   8번쨰 줄입니다.
8   9번쨰 줄입니다.
9  10번쨰 줄입니다.

In [17]:
# txt file로 저장하기
txtSample.to_string("../Data/sample.txt", index = False, header=None)