In [58]:
Sys.setlocale(category = 'LC_ALL' , locale = 'ko_KR.UTF-8') ## 한글보이기

[1] "ko_KR.UTF-8/ko_KR.UTF-8/ko_KR.UTF-8/C/ko_KR.UTF-8/C"

조건문(Conditional Statement)

In [59]:
x <-10
y<-trunc(runif(1) * 100)

if(x > y){
    cat("x > runif()\n")
    cat(y, "\n")
}else if(x < y) {
    cat("x < runif()\n")
    cat(y, "\n")
}else{
    cat("x <= 10 \n")
    cat(y, "\n")
}

print("--END---")

x < runif()
72

[1] "--END---"

홀수 짝수 구분

In [60]:
a <- 8    #변수하나에 데이터 하나(스칼라변수)

if(a %% 2 == 0){
    cat(a, "는 짝수 입니다.")
}else{
    cat(a, "는 홀수 입니다.")
}

8 는 짝수 입니다.

In [61]:
a <- c(8,9,10)
ifelse(a %% 2 == 0, "짝수", "홀수")  #3항 연산자

ifelse(a %% 2 == 0, paste(a, ":짝수"), paste(a, ":홀수"))  
#a가 뭔지 모를때 paste로 벡터를 만들어 넣기

[1] "짝수" "홀수" "짝수"

[1] "8 :짝수"  "9 :홀수"  "10 :짝수"

readline

In [62]:
num1 <- as.integer(readline("숫자를 입력 하세요 :"))
num1

[1] 15

In [83]:
# 사용자가 입력한 정수가 홀수인지 짝수인지 판단하기
# 출력예시 : 입력하신 숫자는 12이고 짝수입니다.

num2 <- as.integer(readline("숫자를 입력하세요"))
num2

result <- ifelse(num2 %% 2 == 0, paste(num2, ":짝수"), paste(num2, ":홀수")) 
result

paste("입력하신 숫자는", num2, "이고", result, "입니다")

[1] 16

[1] "16 :짝수"

[1] "입력하신 숫자는 16 이고 16 :짝수 입니다"

In [70]:
#excel.csv 불러오기
excel <- read.csv("../Data/excel.csv", header = F)
excel
str(excel)

    V1  V2  V3  V4  V5
1   q1  q2  q3  q4  q5
2   2   4   4   2   2
3   1   2   2   2   2
4   2   3   4   3   3
5   3   5   5   3   3
6   3   2   4   4   4
7   4   3   3   4   2
8   3   4   4   2   2
9   4   2   4   4   4
10  4   4   5   3   4
11  4   2   4   2   3
12  4   4   4   3   3
13  3   1   4   3   4
14  3   2   4   3   4
15  3   4   3   4   5
16  1   3   2   2   3
17  3   4   2   3   4
18  3   2   1   1   3
19  3   3   3   4   3
20  2   2   4   3   2
21  3   4   4   3   4
22  3   4   5   2   4
23  4   3   4   2   3
24  2   2   2   1   4
25  2   3   4   3   5
26  3   4   4   2   4
27  4   2   3   3   2
28  4   4   4   4   3
29  4   4   5   3   3
30  3   2   2   3   4
... ... ... ... ... ...
374 4   4   3   4   5
375 2   3   4   3   3
376 2   4   5   3   5
377 3   3   4   2   3
378 3   2   2   2   3
379 3   2   4   2   3
380 2   4   5   2   2
381 1   2   3   1   3
382 3   1   2   3   5
383 4   3   3   3   5
384 3   4   4   3   3
385 3   4   3   4   3
386 2   2   2   2   4
387 4   3   5   4   2
388 3   2   3   3   4
389 2   4   4   3   2
390 3   2   2   1   4
391 3   2   4   2   4
392 1   2   2   2   2
393 3   2   4   3   4
394 2   4   4   3   4
395 4   3   5   3   2
396 3   1   2   1   1
397 3   4   4   3   2
398 2   3   5   2   4
399 4   3   3   2   4
400 2   4   4   2   3
401 2   2   5   2   4
402 2   3   4   2   4
403 2   2   4   2   4

'data.frame':	403 obs. of  5 variables:
 $ V1: chr  "q1" "2" "1" "2" ...
 $ V2: chr  "q2" "4" "2" "3" ...
 $ V3: chr  "q3" "4" "2" "4" ...
 $ V4: chr  "q4" "2" "2" "3" ...
 $ V5: chr  "q5" "2" "2" "3" ...

In [84]:
# excle의 q1컬럼에서 data가 3보가 크면 data의 제곱근을 출력하고 
# 아니면 원래 data를 출력하기

a <- ifelse(excel$q1 >= 3, sqrt(excel$q1), excel$q1)

excel$q6 = c(2.00000, 1.00000, 200000, 1.732051, 1.732051, 2.00000)

ERROR: Error in `$<-.data.frame`(`*tmp*`, q6, value = c(2, 1, 2e+05, 1.732051, : replacement has 6 rows, data has 403